.top-bar {
  width: 100%;
  background: rgb(0, 0, 0);
}

.top-bar h1 {
  margin: 0;
  padding: 30px;
  text-align: left;
  margin-left: 10px;
  font-size: 60px;
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  position: absolute;
  right: 50%;
  translate: 50%;
}


input[type="text"] {
  position: absolute;
  right: 50%;
  translate: 50%;
  width: 400px;
  height: 40px;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
}

input:placeholder-shown {
  font-style: italic;
}

.file-list-title {
  position: absolute;
  right: 50%;
  translate: 50%;
  width: 200px;
  font-size: 24px;
  margin-top: 20px;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.file-list-container {
  position: absolute;
  right: 50%;
  translate: 50%;
  top: 60px;
  border: 1px solid #080809;
  border-radius: 12px;
  padding: 20px;
  width: 800px;
  height: 500px;
  background-color: #f9f9f9;
}

.file-list-container2 {
  position: absolute;
  right: 50%;
  translate: 50%;
  top: 80px;
  border: 1px solid #080809;
  border-radius: 12px;
  padding: 20px;
  width: 700px;
  height: 375px;
  background-color: white;
}

#listed-item {
  position: absolute;
  top: 40px;
  left: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.file-list li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#Upload {
  position: absolute;
  left: -400px;
  top: 600px;
}

#Upload-Files {
  position: absolute;
  top: 600px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#fileInput {
  position: absolute;
  translate: -50%;
  top:  600px;
  width: 600px;
  height: 40px;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
}
